a:link, a:visited{
  color: black;
  
}
.card{
  line-height: 15px;
}
.card:hover{
  box-shadow: 2px 2px 5px rgb(73, 73, 133);
}
/* .b{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
} */
div.jumbotron{
  background-color: rgb(235, 225, 228);
}
.footer{
  background-color:rgb(235, 225, 228);
}

h3{

  border : 1px groove black;
  border-top: none;
  border-left: none;
  border-right: none;
  
}
#navbar-toggler{
  color: black;
  background-color: rgb(235, 225, 228);
  
}
input.form-control{
  display: inline;
}